<div class="container pt-5">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="col-sm-8 mt-1 pb-2">
        <h3 class="card-title mb-0"><strong>Modification du mot de passe</strong></h3>
      </div>
      <form [formGroup]="passwordForm" class="pb-2">
        <div>
          <label>Ancien mot de passe</label>
          <input type="password" name="oldPassword" formControlName="oldPassword" class="form-control">
          <div *ngIf="oldPassword?.invalid && (oldPassword?.dirty || oldPassword?.touched)">
            <span class="text-danger">Saisissez l'ancien mot de passe</span>
          </div>
        </div>
        <br>

        <div>
          <label>Nouveau mot de passe</label>
          <input type="password" name="newPassword" formControlName="newPassword" class="form-control">
          <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
            <span class="text-danger">Saisissez le nouveau mot de passe</span>
          </div>
        </div>
        <br>

        <div>
          <label>Confirmer mot de passe</label>
          <input type="password" name="confirmNewPassword" formControlName="confirmNewPassword" class="form-control">
          <div *ngIf="confirmNewPassword?.invalid && (confirmNewPassword?.dirty || confirmNewPassword?.touched) "  >
            <span class="text-danger">Confirmer le nouveau mot de passe</span>
          </div>
          <div *ngIf="(confirmNewPassword.value!=newPassword.value) && (confirmNewPassword?.dirty || confirmNewPassword?.touched)"  >
            <span class="text-danger">Les 2 mot de passe doivent être les mêmes</span>
          </div>
        </div>
      </form>
      <button type="button" class="btn btn-primary float-right" (click)="changePassword()">Modifier mot de passe</button>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
