<div class="row bg account-pages" style="background: url('assets/images/foret.jpg');">

    <!-- Begin page -->
    <div class="accountbg">
    </div>

    <div class="login">
        <div class="card">
            <div class="card-block">

                <div class="account-box">

                    <div class="card-box p-5">
                        <h2 class="text-uppercase text-center pb-4">
                            <a class="text-success" href="index.html">
                                <span><img alt="" height="60" src="assets/images/oyas1.jpg"></span>
                            </a>
                        </h2>

                        <form [formGroup]="formGroup">

                            <div class="form-group row">
                                <div class="col">
                                    <label>Nom</label><span class="text-danger">*</span>
                                    <input class="form-control" formControlName="lastname" id="lastname" name="lastname" placeholder="Michael " type="text">
                                    <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                                        <span class="text-danger">Saisissez votre nom</span>
                                    </div>
                                </div>

                                <div class="col">
                                    <label>Prénom</label><span class="text-danger">*</span>
                                    <input class="form-control" formControlName="firstname" id="firstname" name="firstname" placeholder="Zenaty " type="text">
                                    <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                                        <span class="text-danger">Saisissez votre prénom</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row ">
                                <div class="col-12">
                                    <label>Addresse Email</label><span class="text-danger">*</span>
                                    <input class="form-control" formControlName="email" id="email" placeholder="john@deo.com" type="text">
                                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                                        <span class="text-danger">Saisissez une adresse Gmail</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row ">
                                <div class="col">
                                    <label>Mot de passe</label><span class="text-danger">*</span>
                                    <input class="form-control" formControlName="password" id="password" placeholder="Entrez votre mot de passe" type="password" type="password">
                                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                                        <span class="text-danger">Entrez un mot de passe</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <label>Re-Mot de passe</label><span class="text-danger">*</span>
                                    <input class="form-control" formControlName="passwordd" id="passwordd" placeholder="Confirmez votre mot de passe" type="password" type="password">
                                    <div *ngIf="passwordd?.invalid && (passwordd?.dirty || passwordd?.touched)">
                                        <span class="text-danger">Confirmez votre mot de passe</span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="col">
                                    <label>Téléphone</label><span class="text-danger">*</span>
                                    <input class="form-control" formControlName="tel" id="tel" placeholder="+216 20 154 145" type="tel" type="text">
                                    <div *ngIf="tel?.invalid && (tel?.dirty || tel?.touched)">
                                        <span class="text-danger">Entrez votre numéro de téléphone</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row m-b-20">
                                <div class="col-12">

                                    <div class="checkbox checkbox-custom">
                                        <input checked="" id="remember" type="checkbox">
                                        <label for="remember">
                    J'accepte <a class="text-custom" href="#">Les Conditions</a>
                  </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group row text-center m-t-10">
                                <div class="col-12">
                                    <button (click)="register()" class="btn btn-block login-btn btn-custom waves-effect waves-light">Inscription
                  gratuite
                </button>
                                </div>
                            </div>

                        </form>

                        <div class="row m-t-15">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Vous avez déjà un compte? <a class="text-dark m-l-5" href="#" routerLink="/login"><b>S'identifier</b></a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
